.App {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.Controls label input {
    margin-left: 0.5rem;
}

.Header {
    text-align: center;
    font-size: 0.75rem;
}

.Footer {
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
